<!DOCTYPE html>
<html>
<head>

    @*asp-href-exclude="**/*-reboot*,**/*-grid*"*@
    <meta name="viewport" content="width=device-width" />
    <link asp-href-include="/lib/bootstrap/css/*.min.css"
          asp-href-exclude="**/*-reboot*, **/*-grid*"
          rel="stylesheet" />
    <link asp-href-include="/lib/font/css/*.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="navbar navbar-dark bg-dark" role="navigation">
        <div class="row">
            <a class="col navbar-brand p-2" href="#">Sport Store</a>
            <div class="col-4 text-sm-start">
                @await Component.InvokeAsync("CartSummary") 
            </div>
        </div>
    </div>
    <div class="row m-1 p-1">
        <div id="categories" class="col-1 p-2 m-4">
            @await Component.InvokeAsync("NavigationMenu") 
        </div>
        <div class="col-9">
            @RenderBody()
        </div>
    </div>
</body>
</html>
