@model Dictionary<string, object>
@{
    ViewBag.Title = "User Details";
}

<table class="table table-sm table-bordered m-1 p-1">
    @foreach (var val in Model)
    {
        <tr>
            <th>@val.Key</th>
            <td>@val.Value</td>
        </tr>
    }
</table>
<a class="btn btn-primary m-1" asp-controller="Home" asp-action="OtherAction">OtherAction</a>
<a class="btn btn-primary m-1" asp-controller="Home" asp-action="NotBob">Not Bob</a>
<a class="btn btn-primary m-1" asp-controller="Document" asp-action="Index">Protected Document</a>

