<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link asp-href-include="/lib/bootstrap/dist/css/*.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body class="m-1 p-1">
    <div class="bg-primary m-1 p-1 text-white">
        <div class="d-flex flex-row-reverse m-1">
            @if (User?.Identity?.IsAuthenticated ?? false)
            {
                <a asp-controller="Account" asp-action="Logout" class="btn btn-danger">Logout</a>
                <span style="padding-top:3px;">Пользователь: <a class="btn btn-primary" asp-controller="Home" asp-action="UserProps"> @(User?.Identity?.Name ?? "Моя страница")</a></span>
                @if (User?.IsInRole("Admins") ?? false)
                {
                    <a class="btn btn-primary" asp-controller="Claims" asp-action="Index">Заявки</a> 
                    <a class="btn btn-primary" asp-controller="RoleAdmin" asp-action="Index">Роли</a>
                    <a class="btn btn-primary" asp-controller="Admin" asp-action="Index">Пользователи</a>
                }
                <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Home</a>
            }
        </div>
        <div class="d-flex flex-row">
            <h4>@ViewBag.Title</h4>
        </div>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
